<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>PWA leads</h1>

<form action="/leadsSubmit" method="POST">
<div>
    <label for="event_id"> Event List:</label>
    <select type="text" id= "list" name="event_id" class="form-control">
         <option value="Bev Smith Kia’s Reprocessed Car Sale & Trade In Event">Bev Smith Kia’s Reprocessed Car Sale & Trade In Event</option>
         <option value="Bev Smith Toyota’s Used Vehicle Buy Back Extravaganza">Bev Smith Toyota’s Used Vehicle Buy Back Extravaganza</option>
         <option value="Bill Russell Ford's After Labor Day Ultimate Trade In Buy Back Event">Bill Russell Ford's After Labor Day Ultimate Trade In Buy Back Event</option>
    </select> 
    <div>
        <Label for="first_name">First Name:</Label>>
        <input type="text" name="first_name">
    </div>
    <div>
        <Label for="last_name">Last Name:</Label>>
        <input type="text" name="last_name">
    </div>
    <div>
        <Label for="phone">phone:</Label>>
        <input type="text" name="phone">
    </div>
    <div>
        <Label for="email">email:</Label>>
        <input type="text" name="email">
    </div>
    <div>
        <Label for="appt_date">Date:</Label>>
        <input type="date" name="appt_date">
    </div>
    <div>
        <Label for="appt_time">Time:</Label>>
        <input type="time" name="appt_time">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</div>
</form> 
    
</body>
</html>



