body{
  background-image: url('Adope.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#form{
  background: -webkit-linear-gradient(left, #ffffff, #9e9e9e);
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25%;
  padding: 3%;
  border-radius: 2.5rem;
 
}




.flex-outer, label {

color: gray;
font-size: x-large;

}
h1 {
  text-align: center;
}

.flex-outer, input{
  margin: 25px;
} 



#submit{
  width: 30%;
  align-items: center;
  margin-left: 195px;
}
